<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" > -->
<input type="text" class="form-control" [(ngModel)] = "serverName">
<!-- Now we can set this equal to some property defined in our TypeScript code, so fo the server name f.e. -->
<!-- This set up will do the following, it will trigger on the input event and update the value of server name in our component automatically. In the -->
<!-- Other hand, since it is two-way binding, it will also update the value o f the input element if we change server name somewhere else and I can demonstrate this -->
<!-- by going back to the TypeScript code -->
<!-- On the other hand, since it it two way-data binding, it will also update the value of the input element-->
<!-- <p>{{ serverName }}</p> -->
<!-- $event is a super impornt kinf of reserved variable name. You can use in the template when using event binding. For this. event, so only between these quotation marks,
here, $event will simply be the data emitted with that event. So input and click ar default events provided by the DOM you could say and they ship some data when they are fired,
the click event gives us a object which for example holds the coordinates where we clicked and the input event also gives us some date, some information about the event. Now we can capture this data $event passed as
an argument to the method we're calling or used anywhere between these quotation marks in the code we'r executing, $event, something to keep in mind, reserved word whcih gives us access to event data.
So now we pass this to onUpdateServerName
 -->

<button class="btn btn-primary" [disabled]="!allowNewServer" (click) = "onCreateServer()">Add Server</button>  <!-- to make it dynamic use []; allowNewServer is in the server.component.ts file;
 with the exlamation mark, you make shure that is only disabled if this if false-->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- Well basically if you want to output something in your template, print some text to it, use string interpolation,
if you want to change some property, be that of a HTML element or as you will later learn of directive or component,
typically use property binding, that is how you can differentiate it and you will get a feeling for this once you work your way through
the course project and so on. Don't mix property binding & string inerpolation. You might notice then we have quotation marks and then directily,
our property name. There are no curly braces between these quotation marks and there shouldn't be, because, that will break the app, this will not work.
Between the quotation marks of property binding, you can you must already write TypeScript code so to say, a TypeScript expression which will return
the value this property expects, so for disabled some expression which returns true or false. So just like string interpolation, you may also call a method
 there but you must nod add curly braces in there.Whilst it might look we simply use a HTML attribute there. We aren't -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!--  Property Binding: using square brackets, -->
<!-- Event Binding: rouund brackets, By event binding you execute that what's between the quotations marks is. Often you call here a method. -->

<p *ngIf="serverCreated" >Server was created, server name is {{ serverName }}</p>
<!-- ngIf The star is required because ngIf is a structural directive which means it changes the structure of our DOM, it either adds this element or it
 doesn't add it. Then we can set up our conditions here between the quotation marks. For ngIF this has to be any expression returning true or false,
 deciding wheter this should be added or not.-->
<!-- Sicherheitskritisch?? -->
<!--  But the important thing is it's really added or removed to or from the DOM, it's not there all the time, it's not hidden, it's JUST NOT THERE.
which is super important to understand.-->

<!--
<p *ngIf="serverCreated; else noServer" >Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>
    No server was created!
  </p>
</ng-template>
-->
<!-- Of course the alternative would always be to simply use ngIf with the reversed check, -->

<!-- <app-server></app-server> -->
<app-server *ngFor="let server of servers"></app-server>

<app-server></app-server>
